{% for timeline in site.data.timeline.timeline %}
<section class="timeline-year" id="year-{{timeline.year}}">

  <h2 class="year">{{timeline.year}}</h2>
  
  <div class="timeline-bar">
    
    {% for event in timeline.events %}
    <div class="timeline-item">

      <div class="icon {{ event.category }}">

        {% if event.category == 'life' %}
        <i class="fa fa-user"></i>
        {% elsif event.category == 'education' %}
        <i class="fa fa-graduation-cap"></i>
        {% elsif event.category == 'project' %}
        <i class="fa fa-code"></i>
        {% endif %}
      </div>
      
      <h3 class="closed-title">{{ event.title }}</h3>

      <div class="more-info {{ event.category }}">
        <hgroup>
          <h2>{{ event.title }}</h2>
          <h3>{% if event.date != '' %} {{ event.date }} |{% endif %} {{event.category | capitalize}}</h3>

          <div class="cancel">X</div>
        </hgroup>
        {% if event.image != '' %}
        <img src="{{event.image}}" alt="{{event.title}}">
        {% endif %}
        <p>{{ event.description }}</p>
      </div>

    </div>
    {% endfor %}

  </div>

</section>
{% endfor %}