/* ------------------------------
			Timeline
------------------------------ */


html, body {
	background-color: rgb(245, 245, 245);
}

.container {
	width: 90%;
	margin: 5% auto 50%;
}

header {
	margin-bottom: 5rem;

	h1 {
		margin-bottom: 2rem;
	}
}


main {
	

}

/* Z Index */

.more-info {
	z-index: 3;
}

.icon {
	z-index: 2;
}



.timeline-year {
	position: relative;
	padding: 0;

	.year {
		position: absolute;
	}

	.timeline-bar {
		width: 2rem;
		margin: 0 0 0 8rem;
		
		background-color: rgb(200, 200, 200);
		height: 100%;
		min-height: 62px;
		position: relative;

		padding-bottom: 0;
		
	}

}

.timeline-year:first-child .timeline-bar {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-left-radius: 10px;
	-o-border-top-right-radius: 10px;
	-ms-border-top-left-radius: 10px;
	-ms-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

.timeline-year:last-child .timeline-bar {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-o-border-bottom-left-radius: 10px;
	-o-border-bottom-right-radius: 10px;
	-ms-border-bottom-left-radius: 10px;
	-ms-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;

	.timeline-item:last-child {
		padding-bottom: 0;
	}
}


/* Timeline Item */

.timeline-item {
	position: relative;
	padding-bottom: 2rem;
}

.icon {
	position: relative;
	width: 5rem;

	.fa {
		text-align: center;
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
		margin-left: -1rem;
		cursor: pointer;
		line-height: 4rem;
		border: 0;
	}
}


.closed-title {
	position: absolute;
	top: 1rem;
	width: 50vw;
	max-width: 50vw;
	margin-left: 5rem;
}

.more-info {
	display: none;
	position: absolute;
	top: 0.5rem;
	left: 5rem;
	border-radius: 3px;
	background-color: #fff;
	height: auto;
	width: 50rem;
	max-width: 68vw;
	padding: 1rem;

	@media screen and (max-width: 600px) {
		left: -6rem;
		top: 5rem;
		width: 80vw;
		max-width: 80vw;
	}

	.cancel {
		cursor: pointer;
		font-weight: 700;
		@media screen and (min-width: 600px) {
			display: none;
		}
		@media screen and (max-width: 600px) {
			display: inline-block;
			position: absolute;
			right: 1rem;
			top: 1rem;
		}
	}

	hgroup {
		margin-bottom: 1rem;
	}

	img {
		width: 100%;
		height: auto;
		margin-bottom: 1rem;
	}
}

.more-info-show {
	display: block;
}

/* Event Category Colours */
.icon.education .fa {
	background-color: $education;
}
.icon.project .fa {
	background-color: $project;
}
.icon.life .fa {
	background-color: $life;
}

.more-info.education {
	border: 2px solid $education;
}
.more-info.project {
	border: 2px solid $project;
}
.more-info.life {
	border: 2px solid $life;
}



